* {
    padding: 0;
    margin: 0;
}

#heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

#qt span {
    font-weight: 700;
}

#dark {
    padding: 25px 0;
}