    .slider {
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    
    .content {
        padding-left: 12px;
        padding-bottom: 21px;
    }
    
    .eight_key {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 2px;
        /* padding-left: 15px; */
        color: #232323;
        /* margin: 0px 0px 11px 0px; */
    }
    
    button,
    input,
    optgroup,
    select,
    textarea {
        background: #D9341A;
        /* border-radius: 5px 0px 0px 4px; */
        border: 2px solid #D9341A;
    }
    
    .color_icon {
        font-weight: 900;
        color: white;
        font-size: 12px;
    }
    
    .preview {
        /* box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%); */
        width: 80%;
        height: 70vh;
        margin-left: 14px;
        border-radius: 5px;
    }
    
    .preview img {
        height: 100%;
        width: 100%;
        /* margin-left: 22px; */
    }
    
    .rating i {
        color: #C9426C;
    }
    
    .price {
        font-weight: bold;
    }
    
    .price del {
        font-weight: 400;
    }
    
    .pincode {
        width: 100%;
    }
    
    .check {
        background: #C9426B;
        color: white;
        border: 2px solid #C9426B;
    }
    
    .check:hover {
        color: #fff;
    }
    
    .Buy-Now:hover {
        background-color: black;
        color: white;
        text-decoration: none;
        border: 1px solid black;
        padding: 0.9rem 5rem;
    }
    
    .brand {
        color: #D9341A;
        font-family: 'Rozha One', Sans-serif;
        font-size: 2em;
        font-weight: 400;
        letter-spacing: 0.7px;
    }
    
    .Buy-Now {
        padding: 0.9rem 5rem;
        color: white;
        font-weight: 600;
        background-color: #AD333C;
        border-radius: 5px;
        border: 1px solid #D9341A;
        text-decoration: none;
    }
    
    .quant_ty {
        padding: 3px 3px;
        text-align: center;
        border: 2px solid #D9341A!important;
    }
    
    .perfect_key {
        font-weight: 500;
        font-size: 19px;
        padding-left: 30px;
        /* padding-top: 15px; */
    }
    
    .size_one {
        border-radius: 50%;
        border: 2px solid grey;
        padding: 0px 5px;
        margin: 0px 5px;
    }
    
    .form_add {
        display: flex;
        justify-content: space-between;
    }
    
    .padding_product {
        padding: 9rem 0px 5rem 0rem;
    }
    
    .quantity-control {
        display: flex;
        /* align-items: center; */
        /* justify-content: space-between; */
        /* width: fit-content; */
        margin: 0 auto;
        /* background: #eaeaea; */
        border-radius: 10px;
        padding: 1rem 1rem 1rem 1.5rem;
        /* margin-top: 4rem; */
    }
    
    .quantity-btn svg {
        width: 15px;
        height: 15px;
    }
    
    .quantity-input {
        outline: none;
        user-select: none;
        text-align: center;
        width: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
    }
    
    .quantity-input::-webkit-inner-spin-button,
    .quantity-input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    @media only screen and (max-width: 768px) {
        .form_add {
            flex-direction: column;
        }
    }
    
    .astha_prints {
        display: none;
    }
    
    .left_btn {
        border-radius: 6px 0px 0px 5px;
    }
    
    .right_btn {
        border-radius: 0px 5px 5px 0px;
    }
    
    @media only screen and (max-width: 480px) {
        .form_add {
            flex-direction: column-reverse;
        }
        .padding_product {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .pincode {
            width: 50%;
        }
        .preview {
            /* box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%); */
            width: 90%;
            padding-top: 23px;
            height: 70vh;
            margin-left: 14px;
            border-radius: 5px;
        }
        .slider {
            height: 62vh;
            display: flex;
            flex-direction: column;
        }
        .Buy-Now {
            padding: 0.6rem 4rem;
        }
        .perfect_key {
            font-weight: 500;
            font-size: 12px;
            padding-left: 0px;
            padding-top: 15px;
        }
        .Buy-Now:hover {
            padding: 0.6rem 7rem;
            background-color: #D9341A;
            color: white;
            text-decoration: none;
            border: 1px solid #D9341A;
        }
        .preview img {
            height: 70%;
            width: 100%;
            /* margin-left: 22px; */
        }
    }
    /* footer start  */