.login {
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: #F6F6F6;
    display: flex;
    height: 100vh;
}

.username {
    background-color: #F6F6F6;
    border: 2px solid #D9341A;
    width: 90%;
    padding: 2px 7px;
}

.card {
    width: 30%;
    padding: 43px 10px;
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
}

.card h3 {
    color: #D9341A;
}

.submit {
    padding: 6px 63px;
    color: white;
    background-color: #D9341A;
    border: 2px solid #D9341A;
}